/* @import 'https://code.highcharts.com/css/highcharts.css'; */

/* #container {
	height: 350px;
	max-width: 50px;
	min-width: 320px;
	margin: 0 auto;
} */
/* .highcharts-pie-series .highcharts-point {
	stroke: #EDE;
	stroke-width: 2px;
} */
.highcharts-pie-series .highcharts-data-label-connector {
	stroke: pink;
	stroke-dasharray: 2, 2;
	stroke-width: 2px;
	
}


